* {
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-size: 20px;
  font-family: 'Edu TAS Beginner', cursive; }

h1 {
  text-align: center;
  color: #161116; }

.navs {
  border: solid #cf78c8 5px;
  top: 20px; }

.lista {
  display: flex;
  list-style: none;
  font-size: 1em;
  margin: 0;
  background-color: #cf78c8;
  justify-content: space-between; }

li {
  padding: 10px; }

a {
  color: #110c0f;
  text-decoration: none; }
