*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 20px;
    font-family: 'Edu TAS Beginner', cursive;
}
h1{
    text-align: center;
    color: rgb(22, 17, 22);
}
@import "nav";

